.a{
    display: flex;
    /* border: solid red; */
    /* justify-content: spac; */  
    /* gap: 30rem; */
}

.churrasCoder h1{
    text-align: center;
     /* Altere conforme necessário */
}

.bordarchurras{
    border: solid forestgreen;
}


.churrascoder{
    /* justify-content: center; */
    display: flex;
    justify-content: center;

}

.fonte{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 400;
    padding-left: 104%;
}


.justificarSubtitulos{
    justify-content: space-around;
    display: flex;
    /* border: solid red; */
    font-size: 1.6rem;
    font-weight: 600;
    margin: 10px 0;
}

/* Vermemlho porque se refere aos blocos em vermelho */
.vermelho{
    background-color:#cc3817c7;
    color: white;

}

.branco{
    /* color:#eb613b; */
    color: white;
    

}

.black{
    background-color: black ;
}

.center h2{
    text-align: center;
}

.container{
    text-align: center;

}

.justicdescrição{

}

.responsive-img1{

        width: 1px;  /* Ajusta a largura e a altura será proporcional */
        height: auto;  /* Mantém a proporção */

    /* max-width: 100%; A largura não excede o tamanho do contêiner */
    
    /* height: auto;  Mantém a proporção */

    /*  width: 150px;   Ajusta a largura e a altura será proporcional 
        height: auto;   Mantém a proporção      */
}